* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    font-size: 10px;
}

body {
    background-color: burlywood;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png"); 

    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

/* CONTAINER OF ALL ELEMENTS */

.container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 1rem;
    color: white;
}

.title span {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: yellow;
    color: black;
    line-height: 4rem;
}

.help {
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: #684532;
}

.help-link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    position: relative;
}

.help-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.help-link:hover::before {
    visibility: visible;
    transform: scale(1);
}

.rows {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2rem;
}

.rows span {
    display: block;
    font-size: 2rem;
    color: #684532;
}

.board {
    width: 35rem;
    min-height: 65rem;
    margin-top: 2rem;
    background-color: #94644a;
    display: flex;
    box-shadow: 0 0 2.2rem .2rem #000000;

    border-radius: 1rem;
}

/* GUESSES */

.guesses {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.guess {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 3rem;
}

.hole {
    border-radius: 50%;
    background-color:#684532;   
}

.guess .hole {
    width: 4.5rem;
    height: 4.5rem;
}

/* HINTS */

.pegs {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 2rem;
}

.guess-hints {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: .5rem;
    margin-bottom: 3.7rem;
}

.guess-hints:last-child {
    margin-bottom: 1.5rem;
}

.guess-hints .hole {
    width: 2rem;
    height: 2rem;
}

.guess-hints .hole:first-child,
.guess-hints .hole:nth-child(3) {
    justify-self: end;
}

/* OPTIONS */

.options {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background-color: #94644a;
    box-shadow: 0 0 2.2rem .2rem #000000;
    padding: 2rem 1rem;
}

.options .hole {
    width: 4.5rem;
    height: 4.5rem;
}

.option {
    margin-right: .5rem;
}

.undo {
    font-size: 4rem;
    line-height: 5rem;
    color: white;
}

.option, .undo {
    cursor: pointer;
    transition: all .2s;
}

.option:hover {
    transform: scale(1.1) translateY(-.6rem);
}

.undo:hover {
    transform: scale(1.1) rotate(-45deg);
}

/* OPTS COLORS */
.red {background-color: red}
.yellow{background-color: yellow}
.orange{background-color: orange}
.violet{background-color: violet}
.green{background-color: green}
.blue{background-color: blue}

/* HINTS */
.black {background-color: black}
.white {background-color: white} 

/* POPUP  */

.popup {
    width: 100vw;
    height: 100vh;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.popup__content {
    border: .7rem solid white;
    padding: 2rem 3rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.popup__content p, h2 {
    margin-bottom: .5rem;
}

.win {
    background: linear-gradient(-45deg, #a5c956 90%, #cdeb8e 100%);
}

.lose {
    background: linear-gradient(-45deg, #e9655c 90%, #e47162 100%);
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.secret-code {
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.secret-code .hole:not(:last-child) {
    margin-right: 1rem;
}

button {
    border: none;
    border-radius: 3px;
    background-color: white;
    color: black;
    padding: 1rem 2rem;

}

@media only screen and (max-width: 400px) {
    .board{
        width: 90vw;
        min-height: auto;
    }

    .options {
        width: 90vw;
        position: sticky;
        bottom: 0;
        margin-top: 0;
        z-index: 10;
        box-shadow: none;
        border: 1px solid brown;
    }

    .guesses .hole,
    .options .hole {
        width: 3rem;
        height: 3rem;
    }

    .guess-hints {
        margin-top: .8rem;
        margin-bottom: .8rem;
    }

    .guess-hints:last-child {
        margin-bottom: .8rem;
    }

    .options {
        padding: 1rem 1rem;
    }

    .option {
        margin-right: .8rem;
    }

    .undo {
        font-size: 3rem;
        line-height: 3rem;
    }

}

@media only screen and (max-width: 350px) {
    .rows {
        margin-left: .8rem;
    }

    .guess {
        margin: 0 1rem;
    }
}


